<body>

<h1>Welcome to the Makeathon Management</h1>

   <h2><%= makeathon.name %></h2>
   <h3><%= makeathon.projects[0].name %><br></h3>
   <%= makeathon.projects[0].description %></br>
   <h3><%= makeathon.projects[1].name %></br></h3>
   <%= makeathon.projects[1].description %></br>

</body>