<body>

<h1>Welcome to the Makeathon Management</h1>

   <h2><%= makeathon.name %></h2>
   <% makeathon.projects.forEach(function(project){ %>
   <h3><%= project.name %><br></h3>
   <%= project.description %></br>
   <% }); %>

   <a href='/makeathon/project/new?id=<%= makeathon._id %>'>Add new project </a>
   <br />
   <br />
   <a href='/makeathon/student/form?id=<%= makeathon._id %>'>Student Preference Form</a>

</body>