<body>

  <h1>Makeathon Name: <%= makeathon.name %></h1>

  <form action='/makeathon/student/manage?id=<%= makeathon._id %>' method='post' name='student_form' id='student_form'>
  Name: <input id='student_name' type='text' name='student_name'>
  Email: <input id='student_email' type='text' name='student_email'>
  <br />

    <% makeathon.projects.forEach(function(project){ %>
   
    <h3><%= project.name %><br></h3>
    <%= project.description %></br>
   
    

  Ranking: <select name="ranking">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select>
  
  <input id='project_id' type='hidden' value="<%= project._id %>">
  <% }); %>
    <br />
    <br />
    <button id='Submit' type='submit'>Submit</button>
  </form>

</body>